.principal{
   text-align: center;
   margin-top: 10%;
}

.pesquisa{
    text-align: center;
}

h1{
    font-size: 100px;
    color: white;
}

input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/16/19/beach-1846235_960_720.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

svg{
    margin-top: 20px;
    padding: 10px;
}
